/*CSS for Everything*/
body{
    background-color:#323232;
    font-family:Arial;
    color:white;
}
span{
	color:white;
	font-size:30px;
	cursor:pointer;
}
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 15px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 25px;
    margin-left: 50px;
}
/*CSS for Main Page*/
img.logo{
    height:100px;
    width:605px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding-bottom:5px;
}
div.main{
    text-align:center; 
    width:100%; 
}
/*Uncomment code below if using old search method*/
/*.searchForm{
    border-radius:5px;
    background-color:#262626;
    color:white;
    border: none;
    font-size: 16px;
}
.searchForm:hover{
    background-color:#1a1a1a;
}
.searchButton{
    color:white;
    background-color:#262626;
    border-radius:5px;
    border-color:#404040;
}
.searchButton:hover{
    background-color:#1a1a1a;
}*/
.search{
    width:605px;
    border-radius: 5px;
    border-color:#404040;
    background-color:#262626;
    color:white;
    font-size: 16px;
    background-image:url('Images/LOGO_Transparent.png');
    background-repeat: no-repeat;
    padding: 12px 20px 12px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.search:focus {
    width: 90%;
    border-color:#1a1a1a;
}
/*CSS fo Binary Page*/
textarea.inputBinary{
    resize: none;
    border-radius: 5px;
    background-color: #262626;
    border-color: #404040;
    color: white;
    width: 90%;
}
textarea.inputBinary:focus{
    background-color: #1a1a1a;
}
textarea.outputBinary{
    resize: none;
    border-radius: 5px;
    background-color: #262626;
    border-color: #404040;
    color: white;
    width: 90%;
}
textarea.outputBinary:focus{
    background-color: #1a1a1a;
}
/*CSS for Morse Code page*/
textarea.morse{
    width: 70%; 
    background-color: #262626;
    color: white;
    border-color: #404040;
    border-radius: 5px;
    resize: none;
}
textarea.morse:focus{
    background-color: #1a1a1a;
}
input.morse{
    background-color: #262626;
    color: white;
    border-color: #404040;
    border-radius: 5px; 
}
input.morse:focus{
    background-color: #1a1a1a;
}